<div class="player">

  <div class="player-info p2">
    <div class="player-info-song">
      <p class="player-info-song-title">{{ currentSong.title }}</p>
      <p class="player-info-song-artist">{{ currentSong.artist }}</p>
    </div>

    <div class="player-info-points">
      <player-points [points]="points"></player-points>
    </div>
  </div>

  <div class="player-screen">
    <div class="player-screen-lyrics p1">
      <player-lyrics
        [src]="currentSong.lyrics"
        [delay]="currentSong.lyricDelay"
        [onCurrentTimeUpdate]="onLyricsTimeUpdate"
        (onNewLine)="handleLyricsNewLine($event)"
        ></player-lyrics>
    </div>

    <div class="player-screen-controls p2">
      <player-audio
        [src]="currentSong.audio"
        (onCurrentTimeUpdate)="handleAudioTimeUpdate($event)"
        (onPlayPause)="handleAudioPlayPause($event)"
        ></player-audio>

      <player-speech
        [playPause]="onSpeechStart"
        (onSpeechFound)="handleSpeechFound($event)"
      ></player-speech>
    </div>
  </div>
</div>

