:host {
  color: white;
  font-weight: 300;
  text-align: center;
}

p {
  color: rgba(255, 255, 255, .4);
  font-size: 14px;
  margin: .5rem 0;
  transition: all 500ms ease;
}

.active {
  color: rgba(255, 255, 255, 1);
  font-size: 26px;
  margin: 1.25rem 0;
}
