<div class="app">

  <div class="app-nav">
    <img src="/assets/images/karaoke-title.png" alt="Karaoke" class="app-nav-img" />
  </div>

  <div class="app-body">
    <aside class="app-body-sidebar p1">
      <song-selection
        [songList]="songList"
        [currentSong]="currentSong"
        (onChooseSong)="handleChooseSong($event)"></song-selection>
    </aside>

    <section class="app-body-content p1">
      <div *ngIf="currentSong">
        <Player
          [audio]="currentSong.audio"
          [lyrics]="currentSong.lyrics"
          [delay]="currentSong.lyricDelay"></Player>
        </div>
    </section>
  </div>
</div>
